<!doctype html>
<html class="no-js" lang="es-ES">
    <head>
        <title>
        Maia DataCenter
        </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="text/javascript" src="./static/js/jquery-3.2.1.min.js"></script>
        <link rel="shortcut icon" href="./static/img/AriadnaLogo.png">
        <link rel="stylesheet" media="all" href="./static/css/products.css" />
        <link rel="stylesheet" href="./static/css/normalize.css" />
        <link rel="stylesheet" href="./static/css/puls4.css" />
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="./static/css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="./static/fonts/icomoon.ttf">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="./static/img/DataCenterLogo.png" alt="DataCenter" />
            </div>
            <div class="titular">
                <div>
                    <a class="publicar" href=./logout.php><i class="material-icons">settings_power</i>Cerrar Sesion</a>
                </div>
            </div>
        </header>
        <nav>
<h5 style="margin-left: 20px;"class="titulo">Products for {{ username }}</h5>
        </nav>
        <section class="posts">

    <div class="row">
            {% for clientName, Products in dataClients %}
                <ul class="collapsible popout col s12 m8 l6 xl10" data-collapsible="accordion">
                    <h5>{{ clientName }}</h5>
                    {% for product in Products %}
                        <h5>{{ product}}</h5>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">view_quilt</i>{{ product }}</div>
                            <div class="collapsible-body">
                                <center>
                                <article class="post">
                                    <div class="descripcion">
                                        <form action="DashBoard/{{ client }}/{{ product }}/index.php" method="POST">
                                            <input type="hidden" name="username" value="{{ username }}" />
                                            <input type="hidden" name="expires" value="{{ expires }}" />
                                            <input type="hidden" name="client" value="{{ client }}" />
                                            <input type="hidden" name="product" value="{{ product }}" />
                                            <a class="productName" onclick="this.parentNode.submit()">
                                                <figure class="imagen">
                                                    <img src="./static/img/{{ product }}.png">
                                                </figure>
                                                <div class="detalles">
                                                <br><br>
                                                    <h5 class="">{{ product }}
                                                    </h5>
                                                    <!--
                                                    <a class="tag">CS3</a>
                                                    <p class="fecha">Hace <strong>20min</strong></p>
                                                    -->
                                                </div>
                                            </a>
                                        </form>
                                    </div>
                                </article>
                                </center>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
            {% endfor %}
        </div>
        </section>
        
        <!-- Compiled and minified JavaScript -->
        <script src="./static/js/materialize.js"></script>
        <script>
        $(document).ready(function() {
        $('.collapsible').collapsible();
        });
        </script>
    </body>
</html>