a {
    color: #dd4f24
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.products {
    padding: .5em;
}

.products .product {
    background-color: #fff; opacity: 0.9;;
    color: #7a7a7a;
    border-radius: 0 0 .5em .5em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    height: 180px;
    margin-bottom: 1em;
    margin-right: 1em;
}


.products .product .descripcion {
    color: #7a7a7a;
}


.products .product .descripcion .imagen {
    margin: 0;
    float: left;
}

.products .product .descripcion .imagen img {
    text-align: center;
    height: 160px;
    vertical-align: top;
    width: 120px
}
.products .product .descripcion .productName {
    margin-left: 0.5em;
    text-transform: uppercase;
}

@media screen and (min-width:300px) {
   .products .product {
        display: inline-block;
        /*width: 46%;*/
        vertical-align: top;
    }
    .products .product:nth-child(odd) {
        margin-right: 2%
    }
}