 @font-face {
        font-family: 'icomoon';
        src:url('fonts/icomoon.eot');
        src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
            url('fonts/icomoon.woff') format('woff'),
            url('fonts/icomoon.ttf') format('truetype'),
            url('fonts/icomoon.svg#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

a {
    color: #0d47a1
}

body {
    background: #e8e8e8;
    color: #444;
    font-family: tahoma;
    font-size: 16px
}

.button {
    background-color: #008CBA;
    border: none;
    cursor:pointer;
    color: white;
    float: right;
    font-style: italic;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    margin: -5px 3px 0 0;
    padding: .1em .5em;
    /*text-align: right;
    
    text-shadow: 1px 1px 0 #000;*/
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
}
h4 {
    margin-left: 20px;
    font-family: tahoma;
    font-style:italic;
}
header {
    background: #e8eaf6;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    overflow: hidden;
    padding: .5em;
    position: relative;
    z-index: 1;
}

header .logo {
    float: left;
}

header .logo img {
    border-radius: 20%;
    height: 80px;
    width: auto;
}

header .titular {
    margin: 30px 65px 0 70px;
}

header .titular .publicar {
    background: #1a237e;
    color: #fff;
    float: right;
    font-style: italic;
    margin: -5px 3px 0 0;
    padding: .1em .5em;
    text-align: right;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;
}


nav {
    background: #22bce0;
    border-left: 15px solid #fff;
    position: relative;
}

nav:before {
    border-bottom: 20px solid transparent;
    border-left: 7px solid #fff;
    border-top: 20px solid transparent;
    content: "";
    left: 0;
    position: absolute;
    top: 0
}

nav .menu {
    height: 40px;
    line-height: 20px;
    margin: 0;
    overflow-x: auto;
    padding: 0;
    white-space: nowrap;
}

nav .menu li {
    display: inline-block;
    margin-left: 15px;
}

nav .menu li a {
    color: #fff;
    display: block;
    margin: .3em;
    padding: .2em;
    text-decoration: none
}

.products {
    padding: .5em;
}

.products .product {
    background: #fff;
    color: #7a7a7a;
    border-radius: .5em .5em .5em .5em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
}

.products .product .acciones {
    border-top: 3px solid #22bce0;
    padding: .5em;
    overflow: hidden;
}

.products .product .acciones .datos {
    float: right;
}

.products .product .acciones .datos .comentarios {
    background: #444;
    border-radius: 3px;
    color: #fff;
    margin: 0 1em 0 0;
    padding: 2px 5px;
    text-decoration: none
}

.products .product .acciones .datos .estrellita {
    text-decoration: none;
}

.products .product .acciones .datos .estrellita:before {
    font-family: icomoon;
    color: #fcb92d;
    content: "\e9d9"
}

.products .product .acciones .votos {
    float: left;
}

.products .product .acciones .votos .up,
.products .product .acciones .votos .down {
    text-decoration: none
}

.products .product .acciones .votos .down {
    color: #f00;
}

.products .product .acciones .votos .down:before {
    font-family: icomoon;
    content: "\ea36"
}

.products .product .acciones .votos .up {
    color: #008000;
}

.products .product .acciones .votos .up:before {
    font-family: icomoon;
    content: "\ea32"
}

.products .product .descripcion {
    color: #7a7a7a;
}

.products .product .descripcion .detalles {
    height: 160px;
    margin-left: 130px;
}

.products .product .descripcion .detalles .autor {
    margin: .3em 0 1em 0
}

.products .product .descripcion .detalles .fecha {
    float: right;
    margin: 0 1em 0 0
}

.products .product .descripcion .detalles .tag {
    background: #22bce0;
    border-radius: .5em;
    color: #fff;
    padding: .2em .5em;
    text-decoration: none
}

.products .product .descripcion .detalles .titulo {
    color: #444;
    font-size: 18px;
    font-style: italic;
    margin: 0;
    padding: .5em .5em 0 0
}

.products .product .descripcion .imagen {
    margin: 0;
    float: left;
}

.products .product .descripcion .imagen img {
    height: 160px;
    vertical-align: top;
    width: 120px;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    header .titular .publicar {

        position: relative;
    }
    header .titular .publicar:before {
        font-size: 2.5em;
        left: 0;
        position: absolute;
        top: -10px
    }
    .products .product {
        display: inline-block;
        width: 46%;
        vertical-align: top;
    }
    .products .product:nth-child(odd) {
        margin-right: 2%
    }
}