 @font-face {
        font-family: 'icomoon';
        src:url('fonts/icomoon.eot');
        src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
            url('fonts/icomoon.woff') format('woff'),
            url('fonts/icomoon.ttf') format('truetype'),
            url('fonts/icomoon.svg#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

a {
    color: #dd4f24
}

body {
    background: #e8e8e8;
    color: #444;
    font-family: tahoma;
    font-size: 16px
}


}
h4 {
    margin-left: 20px;
    font-family: tahoma;
    font-style:italic;
}
header {
    background: #e8eaf6;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    overflow: hidden;
    padding: .5em;
    position: relative;
    z-index: 1;
}

header .logo {
    float: left;
}

header .logo img {
    border-radius: 10%;
    height: 112.5px;
    width: auto;
}

header .titular {
    margin: 30px 65px 0 70px;
}

header .titular .filtro {
    color: #22bce0;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none
}

header .titular .publicar {
    background: #1a237e;
    color: #fff;
    float: right;
    font-style: italic;
    margin: -5px 3px 0 0;
    padding: .1em .5em;
    text-align: right;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;
}


header .titular .titulo {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0
}

header .usuario {
    position: absolute;
    top: 10px;
    right: 10px;
}

header .usuario .avatar {
    margin: 0 1.1em 0 0;
    position: relative;
    z-index: 69;
}

header .usuario .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%
}

header .usuario .flechita {
    background: #dd4f24;
    color: #fff;
    display: block;
    padding: 2px;
    position: absolute;
    right: 0;
    text-align: right;
    text-decoration: none;
    top: 15px;
    width: 60%;
    z-index: 0;
}

header .usuario .flechita:after {
    color: #fff;
    display: inline-block;
    font-family: icomoon;
    margin: 0 0 0 .5em;
    content: "\ea36";
    text-shadow: 2px 2px 0 #000
}

nav {
    background: #22bce0;
    border-left: 15px solid #fff;
    position: relative;
}

nav:before {
    border-bottom: 20px solid transparent;
    border-left: 7px solid #fff;
    border-top: 20px solid transparent;
    content: "";
    left: 0;
    position: absolute;
    top: 0
}

nav .menu {
    height: 40px;
    line-height: 20px;
    margin: 0;
    overflow-x: auto;
    padding: 0;
    white-space: nowrap;
}

nav .menu li {
    display: inline-block;
}

nav .menu li a {
    color: #fff;
    display: block;
    margin: .3em;
    padding: .2em;
    text-decoration: none
}

.posts {
    padding: .5em;
}

.posts .post {
    background: #fff;
    color: #7a7a7a;
    border-radius: .5em .5em .5em .5em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
}

.posts .post .acciones {
    border-top: 3px solid #22bce0;
    padding: .5em;
    overflow: hidden;
}

.posts .post .acciones .datos {
    float: right;
}

.posts .post .acciones .datos .comentarios {
    background: #444;
    border-radius: 3px;
    color: #fff;
    margin: 0 1em 0 0;
    padding: 2px 5px;
    text-decoration: none
}

.posts .post .acciones .datos .estrellita {
    text-decoration: none;
}

.posts .post .acciones .datos .estrellita:before {
    font-family: icomoon;
    color: #fcb92d;
    content: "\e9d9"
}

.posts .post .acciones .votos {
    float: left;
}

.posts .post .acciones .votos .up,
.posts .post .acciones .votos .down {
    text-decoration: none
}

.posts .post .acciones .votos .down {
    color: #f00;
}

.posts .post .acciones .votos .down:before {
    font-family: icomoon;
    content: "\ea36"
}

.posts .post .acciones .votos .up {
    color: #008000;
}

.posts .post .acciones .votos .up:before {
    font-family: icomoon;
    content: "\ea32"
}

.posts .post .descripcion {
    color: #7a7a7a;
}

.posts .post .descripcion .detalles {
    height: 160px;
    margin-left: 130px;
}

.posts .post .descripcion .detalles .autor {
    margin: .3em 0 1em 0
}

.posts .post .descripcion .detalles .fecha {
    float: right;
    margin: 0 1em 0 0
}

.posts .post .descripcion .detalles .tag {
    background: #22bce0;
    border-radius: .5em;
    color: #fff;
    padding: .2em .5em;
    text-decoration: none
}

.posts .post .descripcion .detalles .titulo {
    color: #444;
    font-size: 18px;
    font-style: italic;
    margin: 0;
    padding: .5em .5em 0 0
}

.posts .post .descripcion .imagen {
    margin: 0;
    float: left;
}

.posts .post .descripcion .imagen img {
    height: 160px;
    vertical-align: top;
    width: 120px;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    header .titular .publicar {

        position: relative;
    }
    header .titular .publicar:before {
        font-size: 2.5em;
        left: 0;
        position: absolute;
        top: -10px
    }
    .posts .post {
        display: inline-block;
        width: 46%;
        vertical-align: top;
    }
    .posts .post:nth-child(odd) {
        margin-right: 2%
    }
}