<!doctype html>
<html class="no-js" lang="es-ES">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="./static/img/AriadnaLogo.png">
    <link rel="stylesheet" media="all" href="Style.css" />
    <link rel="stylesheet" href="estilos.css">
    <script src="./static/js/primero.js"></script>
</head>
    <body itemscope>

        <section class="splash tri">
            <div class="gradient"></div>
            <article>
                <div id="experience">
                    <canvas id="lines"></canvas>
                    <div class="Contenido">
                        <img id="LogoDC" src="./static/img/DataCenterLogo.png" alt="Logo Data Center">
                        <form action="./index.php" method="POST">
                            <h2>Login</h2>
                            <input type="text" placeholder="&#128272; Usuario" name="usuario">
                            <input type="password" placeholder="&#128272; Contraseña" name="clave">
                            <input id="boton" type="submit" value="Ingresar">
                        </form>
                    </div>
                </div>
            </article>
        </section>

        <script src="./static/js/Segundo.js"></script>
        <script src="./static/js/Tercero.js"></script>
        <script src="./static/js/Cuarto.js"></script>

    </body>

</html>
