<?php
    include_once("session.php");
?>

<!doctype html>
<html class="no-js" lang="es-ES">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="./static/img/AriadnaLogo.png">
    <link rel="stylesheet" media="all" href="Style.css" />
    <link rel="stylesheet" href="estilos.css">
    <script src="./static/js/primero.js"></script>
</head>
    <body itemscope>

        <section class="splash tri">
            <div class="gradient"></div>
            <article>
                <div id="experience">
                    <canvas id="lines"></canvas>
                    <div class="Contenido">
                        <img id="LogoDC" src="./static/img/DataCenterLogo.png" alt="Logo Data Center">
                        <h1>Productos</h1>
                        <ul>
                            {% for datorama_link in datorama_links %}
                                <li>
                                    <a href="{{ datorama_link }}">
                                        {{ datorama_link }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a href=./logout.php>Cerrar Sesion</a>
                </div>
            </article>
        </section>

        <script src="./static/js/Segundo.js"></script>
        <script src="./static/js/Tercero.js"></script>
        <script src="./static/js/Cuarto.js"></script>

    </body>

</html>
