<!doctype html>
<html class="no-js" lang="es-ES">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="./static/img/AriadnaLogo.png">
        <link rel="stylesheet" media="all" href="./static/css/Style.css" />
        <link rel="stylesheet" href="./static/css/estilos.css">
        
        <link rel="stylesheet" media="all" href="./static/css/products.css" />
        <script src="./static/js/primero.js"></script>
    </head>
    <body itemscope>

        <section class="splash tri">
            <div class="gradient"></div>
            <article>
                <div id="experience">
                    <canvas id="lines"></canvas>
                    <div class="Contenido" style="text-align: center">
                        <img id="LogoDC" src="./static/img/DataCenterLogo.png" alt="Logo Data Center">
                        <a class="button" href=./logout.php>Cerrar Sesion</a>
                        <h1>Products for {{ client }} user {{ username }}</h1>
                        	<section class="products">
                                  {% for product in products %}
                                       <article class="product">
                                        <div class="descripcion">
                                               <div style="text-align: center">
                                                <form action="templates/{{ client }}/{{ product.proName }}/index.php" method="POST">
                                                    <input type="hidden" name="username" value="{{ username }}" />
                                                    <input type="hidden" name="expires" value="{{ expires }}" />
                                                    <input type="hidden" name="client" value="{{ client }}" />
                                                    <input type="hidden" name="product" value="{{ product.proName }}" />
                                                    <a class="productName" onclick="this.parentNode.submit()">
                                                    <figure class="imagen">
                                                        <img src="./static/img/{{ product.proName }}.png">
                                                    </figure>
                                                     <p>{{ product.proName }}</p>
                                                    </a>
                                                </form>
                                                </div>
                                        </div>
                                    </article>
                                {% endfor %}   
                            </section>

                    </div>
                    
                </div>
            </article>
        </section>

        <script src="./static/js/Segundo.js"></script>
        <script src="./static/js/Tercero.js"></script>
        <script src="./static/js/Cuarto.js"></script>

    </body>

</html>
