<!doctype html>
<html class="no-js" lang="es-ES">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="./static/img/AriadnaLogo.png">
        <link rel="stylesheet" media="all" href="./static/css/Style.css" />
        <link rel="stylesheet" href="./static/css/estilos.css">
        <script src="./static/js/primero.js"></script>
    </head>
    <body itemscope>

        <section class="splash tri">
            <div class="gradient"></div>
            <article>
                <div id="experience">
                    <canvas id="lines"></canvas>
                    <div class="Contenido">
                        <img id="LogoDC" src="./static/img/DataCenterLogo.png" alt="Logo Data Center">
                        <h1>Products for {{ client }} user</h1>
                        {% if session == 1 and date().timestamp <=  expire %}
                            <ul>
                                {% for product in products %}
                                    <li>
                                        <form action="./renderizer.php" method="POST">
                                            <input type="hidden" name="loggedin" value="{{ session }}" />
                                            <input type="hidden" name="expire" value="{{ expire }}" />
                                            <input type="hidden" name="client" value="{{ client }}" />
                                            <input type="hidden" name="product" value="{{ product.proName }}" />
                                            <a href="#" onclick="this.parentNode.submit()">
                                                {{ product.proName }}
                                            </a>
                                        </form>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <a href=./logout.php>Cerrar Sesion</a>
                </div>
            </article>
        </section>

        <script src="./static/js/Segundo.js"></script>
        <script src="./static/js/Tercero.js"></script>
        <script src="./static/js/Cuarto.js"></script>

    </body>

</html>
